body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(34, 29, 44);
}

header {
  display: flex;
  justify-content: center;
  color: rgb(161, 189, 196);
  background-color: rgb(34, 29, 44);
  font-size: 22px;
}

#column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navPoint {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav a {
  display: flex;
  justify-content: center;
  background-color: rgb(43, 37, 56);
  color: rgb(217, 235, 60);
  text-decoration: none;
  padding: 14px 25px 14px 25px;
  margin-top: 3px;
}

/* main sections layout */

section {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#hobbies {
  background-color:rgb(43, 37, 56);
}

/* ul/li typography */

ul {
  color: rgb(161, 189, 196);
  list-style: none;
  padding: 0 30 0 30;
}

li {
  margin: 15px 15px 15px 15px ;
}

/* projects hr */

h2 {
  color: rgb(247, 139, 198);
  font-style: unset;
  background-color:rgb(43, 37, 56);
  padding: 5px;
}

section div h3 {
  color: rgb(161, 189, 196);
}

h4 {
  color: rgb(161, 189, 196);
  margin-left: 46px;
}

/* color and padding for project titles */

#projectHeader {
  margin-top: 20px;
}

#colorTune1 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(43, 37, 56);
}

#colorTune2 {
  margin-bottom: 20px;
}

#reservationsImg {
  margin: 0 auto;
}

#decoderRing {
  margin-top: 20px;
  margin-bottom: 0;
  color: rgb(161, 189, 196);
  font-size: 19px;
  background-color:rgb(34, 29, 44);
}

#decoderRingLink {
  margin: 0 0 0 15px;
  color: rgb(161, 189, 196);
  font-size: 16px;
  padding-left: 30px;
  text-decoration: underline;
}

.group h2 {
  margin: 0 auto;
}

/* image specs */

section img {
  width: 100%;
  margin: 20px 0 20px 0;
}

/* contact typography, images and forms */

label {
  display: flex;
  justify-content: center;
  color: rgb(161, 189, 196);
  background-color: rgb(43, 37, 56);
  font-size: 19px;
  padding: 10 0 10 0;
}

#l1 {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(43, 37, 56);
  font-size: 19px;
  padding: 10 0 10 0;
  color: rgb(217, 235, 60);
}

#l2 {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  background-color: rgb(43, 37, 56);
  padding: 0 0 10 0;
  color: rgb(247, 139, 198);
  font-size: 26px;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6px;
  max-width: 500px;
}

form p {
  margin: 0 auto;
  color: rgb(147, 125, 115);
  max-width: 450px;
  font-size: 14px;
}

#gravenLog {
  margin: 0 auto;
}

#contact {
  display: flex;
  justify-content: center;
}

#env {
  max-width: 100px;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/* MEDIA RESPONSIVE CODE */

@media all and (min-width: 708px) {
  .group {
    display: flex;
    margin: 10 0 0 10px;
  }

  /* changing column to spread out header */

  #column {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    padding: 16px;
    justify-content: space-between;
    padding-right: 30px;
    max-width: 900px;
  }

  #navPoint {
    margin: 0 auto;
    margin-top: 12px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
  }

  #main {
    flex-direction: row;
    justify-content: center;
    text-align: right;
  }

  #passion {
    flex-direction: row;
    justify-content: center;
    text-align: right;
  }

  body nav a:last-child {
    margin-left: 5px;
  }

  body nav a {
    padding: 20px 20px 20px 20px;
  }

  section img {
    max-inline-size: 270px;
    min-inline-size: 270px;
  }

  ul {
    max-inline-size: 270px;
    min-inline-size: 270px;
  }

  /* adjusting #hobbies, #intro, #passion image to line up with text on desktops */

  #prof {
    margin-top: 40px;
  }
  
  #curse {
    margin-top: 34px;
  }

  #monkeyWrench {
    margin-top: 118px;
  }

  /* adjusting #projects .group .item */

  #decodePurpose {
    margin-right: 0;
  }

  #decodeImg {
    margin-top: 28px;
  }

  #decodeSkill {
    margin-top: 70px;
  }

}

/* reconfiguring layout to allow text to come before image in #end section */

@media all and (max-width: 624px) {
  #end div {
    display: flex;
    flex-direction: column-reverse;
  }
}
