body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(34, 29, 44);
}

header {
  display: flex;
  justify-content: center;
  color: rgb(161, 189, 196);
  background-color: rgb(34, 29, 44);
  font-size: 22px;
}

#column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navPoint {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav a {
  display: flex;
  justify-content: center;
  background-color: rgb(43, 37, 56);
  color: rgb(217, 235, 60);
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
}



/* main sections layout */

section {
    margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ul/li typography */

ul {
  color: rgb(161, 189, 196);
  list-style: none;
}

li {
  margin-top: 15px;
}

/* image specs */

section img {
  width: 100%;
  margin: 15px;
}

@media all and (min-width: 620px) {
  .group {
    display: flex;
    margin: 10 0 0 10px;
  }

  /* changing column to spread out header */
  #column {
      margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    padding: 16px;
    justify-content: space-between;
    padding-right: 30px;
    max-width: 900px;
  }

  #navPoint {
    margin: 0 auto;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
}

  #main {
    flex-direction: row;
    justify-content: center;
  }

  body nav a:last-child {
    margin-left: 5px;
  }

  body nav a {
    padding: 20px 20px 20px 20px;
  }

  img {
    max-inline-size: 270px;
    min-inline-size: 270px;
    padding-left: 30px;
  }

  ul {
    max-inline-size: 270px;
    min-inline-size: 270px;
  }
}
